h1 { 
	color: blue;
}

body {
	background-image: url("https://images.pexels.com/photos/157058/pexels-photo-157058.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}


.colour-pink { 
	background: #C70C2E;
}

#btn_login:hover {
	background: #C70C2E;
}

#btn_make_booking{
	background: transparent;
	border: thin solid black;
	color: black;
}

#btn_sign_up:hover {
	background: transparent;
}