<ion-content class="background">
  <ion-card>
    <ion-card-content>
      <ion-list no-line>
        <ion-item>
          <ion-label>
            <ion-icon name="person" color="tab"></ion-icon>
          </ion-label>
          <ion-input type="text" placeholder="First Name" [(ngModel)]="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="person" color="tab"></ion-icon>
          </ion-label>
          <ion-input type="text" placeholder="Last Name" [(ngModel)]="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="body" color="tab"></ion-icon>
          </ion-label>
          <ion-input type="number" placeholder="Age" [(ngModel)]="age"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="locate" color="tab"></ion-icon>
          </ion-label>
          <ion-input type="text" placeholder="Location" [(ngModel)]="location"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="at" color="tab"></ion-icon>
          </ion-label>
          <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-icon name="medical" color="tab"></ion-icon>
          </ion-label>
          <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <ion-grid >
        <ion-row>
          <ng-container *ngIf="modalData">
            <ion-col width-10 *ngFor="let data of modalData; let i = index">
              <ion-item>
                <div class="cc-selector-2">
                  <input name={{i}} [value]='data' type="radio" [(ngModel)]="tier" id={{i}} />
                  <label class="drinkcard-cc {{data}}" for={{i}}></label>
                </div>
              </ion-item>
            </ion-col>
          </ng-container>
        </ion-row>
        </ion-grid>
        <button ion-button block outline color="light" (click)="signup()">Signup</button>
      </ion-list>

    </ion-card-content>
  </ion-card>
  <button class="bottom" ion-button clear full color="light" (click)="signin()">Already have an account? Sign in</button>
</ion-content>

<ion-footer no-border>

  <footer>
    <p class="copyright">© IBM 2019 </p>
</footer>

</ion-footer>