page-about {
    .masters {
        background-color: #F7F7F7;
      }
      .toolbar-background {
        background-color: #F7F7F7;
      }
      .card-5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      }
      footer {
        position: relative;
        height: 30px;
        width: 100%;
        background-color: #333333;
    }

    p.copyright {
        position: absolute;
        width: 100%;
        color: #fff;
        line-height: 10px;
        font-size: 0.7em;
        text-align: center;
        bottom:0;
    }
}
