page-chat {
    .masters {
        background-color: #F7F7F7;
      }
      .toolbar-background {
        background-color: #F7F7F7;
      }
      .card-5 {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
      }
      .grid {
        padding: 0;
      }
    
      .sender, .me {
        .friend-img {
          position: absolute;
          border-radius: 40px;
          width: 40px;
          height: 40px;
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        }
        p {
          border-radius: 5px;
          margin: 0;
        }
      }
    
      .sender {
        p {
          text-align: left;
          background-color: #fff;
          padding: 12px 10px;
          border: 1px solid #d1d1d1;
        }
        .friend-img {
          margin: 0 0;
        }
      }
    
      .me {
        .txt {
          display: inline;
          text-align: right;
        }
        .friend-img {
          margin: 0 22px;
        }
        p {
          background-color: #3A589B;
          color: #fff;
          padding: 12px 10px;
        }
      }
    
      .text-input {
        background-color: #fff;
        border-radius: 5px;
        padding: 5px;
      }
      footer {
        position: relative;
        height: 30px;
        width: 100%;
        background-color: #333333;
    }

    p.copyright {
        position: absolute;
        width: 100%;
        color: #fff;
        line-height: 10px;
        font-size: 0.7em;
        text-align: center;
        bottom:0;
    }
}